.headerContainer{
  position: fixed;
  display: flex;
  align-items:flex-start;
  // justify-content:space-between;
  position: fixed;
  height: 60px;
  border: 1px solid rgba(23,23,77,.08);
  background-color: #0089ff;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 5px;
}

.logoContainer{
  display: flex;
  align-items:center;
  justify-content:space-between;
  // padding-left: 10%;
  .name{
    margin-left: 10px;
  }
}

.logo {

  display: block;
  width: 40px;
  // margin: 1.5rem auto;
}

.search{
  display: flex;
  justify-content:space-between;
  height: 40px;
  margin-left: auto;
  margin-top: 5px;
  button{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.searchContainer{
  @media only screen and (max-device-width: 800px) {
    display: none;
  }
  min-width: 400px;

  input{
    height: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

}
